.jumbotron {
  padding-top: 6rem;
  background-color: #ffffff;
}

#about {
  background-color:#c72222; 
}

#projects {
  background-color: #ffffff; 
}

#contact {
  background-color: #ffffff; 
}

section {
  padding-top: 5rem;
}